In [1]:
import numpy as np

In [2]:
students=np.array([['poorni','parthi','yashita','shivani'],
                  [45,55,70,45],
                  [30,45,65,70]])

In [3]:
students

array([['poorni', 'parthi', 'yashita', 'shivani'],
       ['45', '55', '70', '45'],
       ['30', '45', '65', '70']], dtype='<U7')

In [4]:
a=np.arange(11)**2

In [5]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [6]:
for x in a:
    print(x**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [7]:
for element in students:
    print('i=', element)

i= ['poorni' 'parthi' 'yashita' 'shivani']
i= ['45' '55' '70' '45']
i= ['30' '45' '65' '70']

In [8]:
for element in students.flatten():
    print(element)

poorni
parthi
yashita
shivani
45
55
70
45
30
45
65
70

In [9]:
for element in students.flatten(order='F'):
    print(element)

poorni
45
30
parthi
55
45
yashita
70
65
shivani
45
70

In [10]:
x=np.arange(12).reshape(3,4)

x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [11]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [12]:
for i in np.nditer(x, order='F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11